@media (max-width: 767px)
	body
		nav
			ul
				li
					list-style-type: none
					display: block
					font-size: 20px
					text-align: center
					margin: 5px 0
		main
			#techs
				display: flex
				justify-content: center
				align-items: center
				flex-direction: column
				h1
				p
				h2
					text-align: center
				.container
					img
						width: 200px
						height: auto
						padding: 10px 0
			#gallery
				overflow: hidden
				h2
					text-align: center
				.row
					.galImg
						img
							width: 80%
							margin: 5px auto
							height: auto
					div
						text-align: center
						button
							margin: 3px 15px
			#download
				display: flex
				justify-content: center
				align-items: center
				flex-direction: column
				h2
				h4
				form
					button
		footer
			p
				text-align: center
			button
				border-radius: 50%
				width: 50px
				height: 50px
				position: fixed
				bottom: 0px
				right: 0px
				outline: none

@media(min-width: 768px) and (max-width: 991px)
	body
		nav
			ul
				height: 50px
				display: flex
				justify-content: flex-end
				li
					list-style-type: none
					display: inline
					font-size: 20px
					float: right
					margin: 10px 5px
		main
			#techs
				display: flex
				justify-content: center
				align-items: center
				flex-direction: column
				h1
				p
				h2
					text-align: center
				.container
					display: flex
					flex-wrap: wrap
					justify-content: center
					img
						width: 200px
						height: 200px
						padding: 10px
			#gallery
				overflow: hidden
				h2
					text-align: center
				.row
					.galImg
						display: flex
						flex-wrap: wrap
						flex-direction: column
						img
							margin: 5px auto
							height: auto
							width: 60%
					div
						text-align: center
						button
							flex-direction: row
							width: 100px
							justify-content: center
							align-self: center
							margin: 5px
			#download
				display: flex
				justify-content: center
				align-items: center
				flex-direction: column
				h2
				h4
				form
					button
		footer
			p
				text-align: center
			button
				border-radius: 50%
				width: 50px
				height: 50px
				position: fixed
				bottom: 0px
				right: 0px
				outline: none

@media(min-width: 992px) and (max-width: 1199px)
	body
		nav
			ul
				height: 50px
				display: flex
				justify-content: flex-end
				li
					list-style-type: none
					display: inline
					font-size: 20px
					float: right
					margin: 10px 5px
		main
			#techs
				display: flex
				justify-content: center
				align-items: center
				flex-direction: column
				h1
				p
				h2
					text-align: center
				.container
					display: flex
					flex-wrap: wrap
					img
						width: 300px
						height: 300px
						padding: 30px
			#gallery
				overflow: hidden
				h2
					text-align: center
				.row
					.galImg
						display: flex
						flex-wrap: wrap
						flex-direction: column
						img
							margin: 5px auto
							height: auto
					div
						text-align: center
						button
							flex-direction: row
							width: 100px
							justify-content: center
							align-self: center
							margin: 5px
			#download
				display: flex
				justify-content: center
				align-items: center
				flex-direction: column
				h2
				h4
				form
					button
		footer
			p
				text-align: center
			button
				border-radius: 50%
				width: 50px
				height: 50px
				position: fixed
				bottom: 0px
				right: 0px
				outline: none

@media(min-width: 1200px)
	body
		nav
			ul
				height: 50px
				display: flex
				justify-content: flex-end
				li
					list-style-type: none
					display: inline
					font-size: 20px
					float: right
					margin: 10px 5px
		main
			#techs
				display: flex
				justify-content: center
				align-items: center
				flex-direction: column
				h1
				p
				h2
					text-align: center
				.container
					display: flex
					flex-wrap: wrap
					justify-content: center
					img
						width: 300px
						height: 300px
						padding: 30px
			#gallery
				overflow: hidden
				h2
					text-align: center
				.row
					.galImg
						display: flex
						flex-wrap: wrap
						flex-direction: column
						img
							margin: 5px auto
							height: auto
					div
						text-align: center
						button
							flex-direction: row
							width: 100px
							justify-content: center
							align-self: center
							margin: 5px
			#download
				display: flex
				justify-content: center
				align-items: center
				flex-direction: column
				h2
				h4
				form
					button
		footer
			p
				text-align: center
			button
				border-radius: 50%
				width: 50px
				height: 50px
				position: fixed
				bottom: 0px
				right: 0px
				outline: none