*
	border: 1px solid black

nav
	ul
		li
			list-style-type: none
			display: inline
			float: right
			padding: 0 20px
			margin: 10px


.techs
	h2
		text-align: center
	.container
		justify-content: center
		display: flex
		flex-direction: row
		flex-wrap: wrap
		img
			max-width: 200px
			max-height: 200px

footer
	p
		text-align: center