@media (max-width: 767px) {
  body nav ul li {
    list-style-type: none;
    display: block;
    font-size: 20px;
    text-align: center;
    margin: 5px 0; }
  body main #techs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    body main #techs h2 {
      text-align: center; }
    body main #techs .container img {
      width: 200px;
      height: auto;
      padding: 10px 0; }
  body main #gallery h2 {
    text-align: center; }
  body main #gallery .row .galImg img {
    width: 80%;
    margin: 5px auto;
    height: auto; }
  body main #gallery .row div {
    text-align: center; }
    body main #gallery .row div button {
      margin: 3px 15px; }
  body main #download {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
  body footer p {
    text-align: center; }
  body footer button {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 0px;
    right: 0px;
    outline: none; } }

@media (min-width: 768px) and (max-width: 991px) {
  body nav ul {
    height: 50px;
    display: flex;
    justify-content: flex-end; }
    body nav ul li {
      list-style-type: none;
      display: inline;
      font-size: 20px;
      float: right;
      margin: 10px 5px; }
  body main #techs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    body main #techs h2 {
      text-align: center; }
    body main #techs .container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center; }
      body main #techs .container img {
        width: 200px;
        height: 200px;
        padding: 10px; }
  body main #gallery h2 {
    text-align: center; }
  body main #gallery .row .galImg {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; }
    body main #gallery .row .galImg img {
      margin: 5px auto;
      height: auto;
      width: 60%; }
  body main #gallery .row div {
    text-align: center; }
    body main #gallery .row div button {
      flex-direction: row;
      width: 100px;
      justify-content: center;
      align-self: center;
      margin: 5px; }
  body main #download {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
  body footer p {
    text-align: center; }
  body footer button {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 0px;
    right: 0px;
    outline: none; } }

@media (min-width: 992px) and (max-width: 1199px) {
  body nav ul {
    height: 50px;
    display: flex;
    justify-content: flex-end; }
    body nav ul li {
      list-style-type: none;
      display: inline;
      font-size: 20px;
      float: right;
      margin: 10px 5px; }
  body main #techs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    body main #techs h2 {
      text-align: center; }
    body main #techs .container {
      display: flex;
      flex-wrap: wrap; }
      body main #techs .container img {
        width: 300px;
        height: 300px;
        padding: 30px; }
  body main #gallery h2 {
    text-align: center; }
  body main #gallery .row .galImg {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; }
    body main #gallery .row .galImg img {
      margin: 5px auto;
      height: auto; }
  body main #gallery .row div {
    text-align: center; }
    body main #gallery .row div button {
      flex-direction: row;
      width: 100px;
      justify-content: center;
      align-self: center;
      margin: 5px; }
  body main #download {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
  body footer p {
    text-align: center; }
  body footer button {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 0px;
    right: 0px;
    outline: none; } }

@media (min-width: 1200px) {
  body nav ul {
    height: 50px;
    display: flex;
    justify-content: flex-end; }
    body nav ul li {
      list-style-type: none;
      display: inline;
      font-size: 20px;
      float: right;
      margin: 10px 5px; }
  body main #techs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    body main #techs h2 {
      text-align: center; }
    body main #techs .container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center; }
      body main #techs .container img {
        width: 300px;
        height: 300px;
        padding: 30px; }
  body main #gallery h2 {
    text-align: center; }
  body main #gallery .row .galImg {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; }
    body main #gallery .row .galImg img {
      margin: 5px auto;
      height: auto; }
  body main #gallery .row div {
    text-align: center; }
    body main #gallery .row div button {
      flex-direction: row;
      width: 100px;
      justify-content: center;
      align-self: center;
      margin: 5px; }
  body main #download {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
  body footer p {
    text-align: center; }
  body footer button {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 0px;
    right: 0px;
    outline: none; } }

/*# sourceMappingURL=style.css.map */